server:
  port: 8080


spring:
  application:
    name: wechat
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
#    mode: LEGACYHTML5
    encoding: utf-8
    servlet:
      content-type: text/html
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/wechatoffical?serverTimezone=UTC&characterEncoding=utf-8

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
#微信公众号配置如下 natapp中对外的web域名 要做hosts文件中做映射
wx:
#  appId: wxb828d2805cf8f3d5   #面向对象的appSecret
  appId: wxc2ab8b2eaa6f2db2
#  appSecret: 60d87b98afa1a650512a26342839130a   # 面向对象的appSecret
  appSecret: 2f87a5fc7902c45434f1dd97f01cfa34
  token: antgan
  aesKey: #5wUYxa1veC45VwT7KmcTOSkMRaXRVS1ngcKiikeYgmM # =如果选择安全模式，需要填入。如果是明文模式，填空就好了
  mchId: #商户ID
  serviceUrl: http://gpd6zv.natappfree.cc


